<a href="https://colab.research.google.com/github/shmokhsidi79-design/week5/blob/main/weeklyproject(kaggle).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!unzip zoo.zip

Archive:  zoo.zip
  inflating: class.csv
  inflating: zoo.csv

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import os
os.listdir("/content")

['.config', 'zoo.csv', 'zoo.zip', 'class.csv', 'sample_data']

In [4]:
import pandas as pd

pd=pd.read_csv("/content/zoo.csv")
pd

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [6]:
sentences = (
    pd.groupby("class_type")["animal_name"]
    .apply(list)
    .tolist()
)

sentences

[['aardvark',
  'antelope',
  'bear',
  'boar',
  'buffalo',
  'calf',
  'cavy',
  'cheetah',
  'deer',
  'dolphin',
  'elephant',
  'fruitbat',
  'giraffe',
  'girl',
  'goat',
  'gorilla',
  'hamster',
  'hare',
  'leopard',
  'lion',
  'lynx',
  'mink',
  'mole',
  'mongoose',
  'opossum',
  'oryx',
  'platypus',
  'polecat',
  'pony',
  'porpoise',
  'puma',
  'pussycat',
  'raccoon',
  'reindeer',
  'seal',
  'sealion',
  'squirrel',
  'vampire',
  'vole',
  'wallaby',
  'wolf'],
 ['chicken',
  'crow',
  'dove',
  'duck',
  'flamingo',
  'gull',
  'hawk',
  'kiwi',
  'lark',
  'ostrich',
  'parakeet',
  'penguin',
  'pheasant',
  'rhea',
  'skimmer',
  'skua',
  'sparrow',
  'swan',
  'vulture',
  'wren'],
 ['pitviper', 'seasnake', 'slowworm', 'tortoise', 'tuatara'],
 ['bass',
  'carp',
  'catfish',
  'chub',
  'dogfish',
  'haddock',
  'herring',
  'pike',
  'piranha',
  'seahorse',
  'sole',
  'stingray',
  'tuna'],
 ['frog', 'frog', 'newt', 'toad'],
 ['flea',
  'gnat',
  'honeybee',
  'housefly',
  'ladybird',
  'moth',
  'termite',
  'wasp'],
 ['clam',
  'crab',
  'crayfish',
  'lobster',
  'octopus',
  'scorpion',
  'seawasp',
  'slug',
  'starfish',
  'worm']]

In [7]:
!pip install gensim

Collecting gensim
  Downloading gensim-4.4.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (8.4 kB)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.12/dist-packages (from gensim) (2.0.2)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.12/dist-packages (from gensim) (1.16.3)
Requirement already satisfied: smart_open>=1.8.1 in /usr/local/lib/python3.12/dist-packages (from gensim) (7.5.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.12/dist-packages (from smart_open>=1.8.1->gensim) (2.0.1)
Downloading gensim-4.4.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (27.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.9/27.9 MB 70.4 MB/s eta 0:00:00
Installing collected packages: gensim
Successfully installed gensim-4.4.0

In [8]:
from gensim.models import Word2Vec

model = Word2Vec(
    sentences,
    vector_size=32,
    window=5,
    min_count=1,
    workers=4
)

model.wv.most_similar("lion")

[('lobster', 0.5698097348213196),
 ('platypus', 0.5561808943748474),
 ('ladybird', 0.5358908772468567),
 ('slowworm', 0.32474690675735474),
 ('bass', 0.2797792851924896),
 ('dove', 0.27714037895202637),
 ('worm', 0.2618703246116638),
 ('pheasant', 0.25725871324539185),
 ('ostrich', 0.24919643998146057),
 ('sealion', 0.24656809866428375)]